/*
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header{
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
address {
    font-style: normal;
}
body {
    background-color: #ffff;
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
}
.conteiner {
    width: 1260px;
    padding: 0 16px;
    margin: 0 auto;
}
.logo{
    margin-right: auto;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    gap: 28px;
    display: flex;
}

.header-nav-link{
    display: block;
    padding: 28px 0;
    font-size: 14px;
    color: #2c2c2c;

}
.header-nav-link:hover,
.header-nav-link:focus{
    font-weight: 700;
        text-decoration: underline;
        color: #bbf330;
}
.order-button{
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #bbf330;
    min-width: 98px;

}
.order-button:hover,
.order-button:focus{

}
.hero{
    padding-bottom: 69px;
}

.hero-title {}

.hero-text {}

.hero-btn {}
*/

/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body{
    background-color: #ffff;
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
}

/* обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* обнулення базових властивостей у посилань */
a {
    text-decoration: none;
    font-style: normal;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

button{
    cursor: pointer;
    border: none;
}

.conteiner {
        width: 1260px;
        padding: 0 16px;
        margin: 0 auto;
}

.flex-conteiner {
    display: flex;
}
/*------------------------------------*/
/*---------------HEADER---------------*/
.navigation {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.navigation-logo {
    margin-right: auto;
    padding: 10px 0;
}

.navigation-nav {
}

.navigation-list {
    display: flex;
    gap: 28px;
}

.header-nav-link {
    padding: 28px 0;
    font-size: 14px;
    color: #2c2c2c;
}
.header-nav-link:hover,
.header-nav-link:focus{
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: #bbf330;
}

.navigation-btn {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 500;   
    border-radius: 30px;
    padding: 6px 17px;
    min-width: 98px;
    height: 32px;
    font-size: 13px;
    background: #bbf330;
    text-align: right;
    color: #2c2c2c;
    cursor: pointer;   
}

.navigation-btn:hover,
.navigation-btn:focus{
    background: #ffe450;
}

/*----------------HERO-------------------*/

.hero {}

.hero-lock{
    margin-right: auto;
}
.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px; 
    max-width: 503px;
    text-align: left;
    padding-top: 159px;
    margin-bottom: 28px;
}

.hero-text { 
    line-height: 24px; 
    margin-bottom: 40px;  
    max-width: 511px;

}

.hero-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-radius: 30px;
    padding: 6px 17px;
    min-width: 98px;
    height: 32px;
    background: #bbf330;
}
.hero-btn:hover,
.hero-btn:focus{
    background: #ffe450;
}
.test{
    border: 14px solid #bbf330;
        border-radius: 291px;
            width: 528px;
            height: 528px;
}
.test:hover,
.test:focus{
    border-color:#ffe450 ;
}
/*----------------SPECIAL-------*/

.special {
    background: #ffe550;
}

.spacial-apple{
    padding-top: 113px;
    padding-bottom: 226px;
    margin-right: auto;
}

.special-lock{

}

.spacial-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;  
    max-width: 527px; 
    padding-top: 196px;
    margin-bottom: 20px;    
}

.spacial-text {
    line-height: 24px; 
    max-width: 500px;
    margin-bottom: 40px;
}

.spacial-list {
    display: flex;
    margin-bottom: 32px;
}

.spacial-li:first-child {
    margin-right: 67px;
}

.spacial-li-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    max-width: 124px;
}

.spacial-li-text {
    font-size: 14px;
    line-height: 21px; 
    max-width: 253px;
}

.special-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    border: 2px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 106px;
    height: 40px;
    background: #fff;
}

.special-btn:hover,
.special-btn:focus{
    background: #bbf330;
    border: none;
}

/*-----------------FAVORITE------------------*/

.favorite {}

.favorite-title {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 20px;
}

.favorite-text {
    text-align: center;
    margin-bottom: 40px;
}

.favorite-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
    padding-bottom: 101px;

}

.favorite-img {}

/*---------------------CUSTOMERS---------*/

.customers {
    background: #ffe550;
}

.customers-title {
    font-weight: 700;
    font-size: 42px;
    padding-top: 140px;
    margin-bottom: 20px;
}

.customers-text {
    margin-bottom: 33px;
}

.customers-list {
    display: flex;
    padding-bottom: 126px;
    gap: 139px;
}

.customers-dude {
    border-radius: 0 30px 30px 30px;
    max-width: 501px;
    height: 231px;
    background: #fefefe;
}

.customers-stars-img{
    padding-top: 15px;
    padding-left: 14px;
    margin-bottom: 29px;
}

.customers-dude-text {
    font-weight: 700;
    font-size: 18px;
    padding: 0 14px;
    max-width: 473px;
    margin-bottom: 41px;  
}

.customers-dude-lock{
    display: flex;
    padding-left: 14px;
}

.customers-dude-lock-mini{
    border-right: 1px solid #7eb101;
    padding-right: 16px;
}

.customers-dude-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px; 
    margin-left: 16px;
    margin-bottom: 2px;
}

.customers-mini-text {
    font-size: 14px;
    line-height: 21px;
    margin-left: 16px;

}

/*---------------------SUBSCRIBE------------*/

.subscribe {}

.subscribe-lock{
padding-top: 222px;
margin-right: auto;

}


.subscribing-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px; 
    margin-bottom: 20px;
}

.subscribe-text {
    line-height: 24px;
    margin-bottom: 24px;
}

.subscribe-form {
}

.subscribe-input{
    font-size: 12px;
    line-height: 18px;

    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 395px;
    height: 42px;

    margin-right: 32px;

}


.subscribe-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    border-radius: 30px;
    padding: 10px 20px;
    max-width: 103px;
    height: 42px;
    background: #bbf330;
}

.subscribe-btn:hover,
.subscribe-btn:focus{
    background: #ffe450;
}

.subscribe-banan{
    padding-top: 176px;
    padding-bottom: 237px;
}

/*---------------------FOOTER------------*/
.footer {
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
        background: #fefefe;
}

.footer-wrap-end{
    display: flex;
    padding-top: 128px;
}
.footer-wrap-nav{
display: flex;

}
.footer-logo-link{
    padding-left: 32px;
    margin-bottom: 129px;
    margin-right: 128px;
}
.footer-list {
    display: flex;
    
    gap: 28px;
}
.link{
    font-size: 14px;
    color: #2c2c2c;
}
.footer-list-link {
    
}

.footer-wrap-input{
margin-left: auto;
}

.footer-text {
    font-weight: 500;
        font-size: 14px;
        line-height: 21px; 
        color: #2c2c2c;
        margin-bottom: 8px;
}

.footer-input{
    border: 0.85px solid #ffe550;
        border-radius: 30px;
        padding: 10px;
        width: 279px;
        height: 42px;
        background: #fefefe;
        margin-bottom: 12px;
        margin-right: 13px;
}
.footer-btn {
    border: 0.85px solid #7eb101;
        border-radius: 30px;
        width: 103px;
        height: 42px;
        background: #fff;
        text-align: center;      
}
.footer-btn:hover,
.footer-btn:focus {
        border-color:#ffe450;
}

.footer-duble-text {
        font-size: 12px;
        color: #2c2c2c;
}

.footer-wrap-flow{
    display: flex;
    padding-bottom: 100px;
}

.footer-mini-link {
    text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #7eb101;
}

.footer-list-duble {
    display: flex;
    padding-left: 16px;
    gap: 20px;
}

.footer-list-link-duble {}

.link-flow{
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;
}

.footer-litle-text {
    font-weight: 400;
        font-size: 12px;
        color: #2c2c2c;
        margin-left: auto;
}